@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: center;
}

.login {
  font-family: "Roboto";
  width: 390px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
